################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nexthink/bin/Debug
/Nexthink/obj/Debug
/packages
/UnitTestNextThink/bin/Debug
/UnitTestNextThink/obj/Debug
/.vs/Nexthink/v15
